.menu {
    width: 800px;
    height: 18px;
    left: 73px;
    top: 20px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin: 20px;
    gap: 70px; 
}

.menu1 {
    padding: 20px;
    text-decoration: none;
    color: #5A5A5A;
    width: 100px;
    height: 18px;
    font: 500 normal 15px/18px 'Inter', Times, sans-serif;
}

#phone {
    position: absolute;
    white-space: nowrap;
    margin: auto;
    height: 18px;
    left: 1099px;
    top: 20px;
    text-align: right;
    color: #2F80ED;
    font: normal 600 15px/18px 'Inter', Times, sans-serif;
}

#background {
    width: 1209px;
    height: 530px;
    opacity: 1;
    left: 36px;
    margin: 20px;
    top: 53px;
    border-radius: 9px;
    background: radial-gradient(77.29% 77.29% at 28.75% 82%, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}

#apart-hotel {
    position: absolute;
    height: 36px;
    width: 250px;
    left: 78px;
    top: 413px;
    color: #D9D9D9;
    font: normal 400 33px/110% 'Inter', Times, sans-serif;
}

#skyplazayalta {
    position: absolute;
    height: 36px;
    width: 459px;
    left: 73px;
    top: 449px;
    color: #D9D9D9;
    font: normal 500 59px/20% 'Inter', Times, sans-serif;
}

#address {
    position: absolute;
    height: 15px;
    width: 228px;
    left: 77px;
    top: 525px;
    color: #D9D9D9;
    font: normal 400 14px/45px 'Inter', Times, sans-serif;
}

#button {
    position: absolute;
    cursor: pointer;
    width: 463px;
    height: 81px;
    left: 738px;
    top: 558px;
    background: #2F80ED;
    border-radius: 9px;
    padding: 0px;
    border: 1px solid #2F80ED;
}

#book {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 213px;
    height: 33px;
    left: 863px;
    top: 584px;
    padding: 0px;
    color: #FFFFFF; 
    font: normal 500 27px/25px 'Inter', Times, sans-serif;
    letter-spacing: 0.02em;
}

a:hover {
    color: blueviolet;
}

#button:hover {
    background-color: blue;
}

button:active {
    transform: translateY(4px);
}